.page_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page_wrapper .main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 550px) {
  .page_wrapper .main {
    margin-top: 120px;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .page_wrapper .main {
    margin-top: 80px;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .page_wrapper .main {
    margin-top: 80px;
  }
}
.page_wrapper .main .productwrapper {
  padding: 1.5rem 0;
  min-height: 35rem;
  background-color: #f8f8f8;
}
.page_wrapper .main .productwrapper .container {
  margin: 0 4rem;
  display: block;
  padding: 0 20px;
}
@media (max-width: 550px) {
  .page_wrapper .main .productwrapper .container {
    margin: 0 0;
    padding: 0 20px;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .page_wrapper .main .productwrapper .container {
    margin: 0 1rem;
  }
}
.page_wrapper .main .productwrapper .container .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  border-bottom: 2px solid #ebebeb;
}
.page_wrapper .main .productwrapper .container .Wrapper {
  display: flex;
  gap: 20px;
}
@media (max-width: 550px) {
  .page_wrapper .main .productwrapper .container .Wrapper {
    flex-direction: column-reverse;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .page_wrapper .main .productwrapper .container .Wrapper {
    flex-direction: column-reverse;
  }
}
.page_wrapper .main .productwrapper .container .Wrapper .Left_container {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-right: 25px;
  border-right: 1px solid #ebebeb;
}
@media (max-width: 550px) {
  .page_wrapper .main .productwrapper .container .Wrapper .Left_container {
    width: 100%;
    border-top: 2px solid #ebebeb;
    padding: 0;
    border-right: none;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .page_wrapper .main .productwrapper .container .Wrapper .Left_container {
    width: 100%;
    border-top: 2px solid #ebebeb;
    padding: 10px 0;
    border-right: none;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .page_wrapper .main .productwrapper .container .Wrapper .Left_container {
    width: 25%;
  }
}
.page_wrapper .main .productwrapper .container .Wrapper .Right_container {
  display: flex;
  width: 75%;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}
@media (max-width: 550px) {
  .page_wrapper .main .productwrapper .container .Wrapper .Right_container {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .page_wrapper .main .productwrapper .container .Wrapper .Right_container {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .page_wrapper .main .productwrapper .container .Wrapper .Right_container {
    width: 75%;
  }
}
.page_wrapper .main .productwrapper .container .Wrapper .Right_container .error_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page_wrapper .main .productwrapper .container .Wrapper .Right_container .error_container img {
  width: 350px;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}
.page_wrapper .main .productwrapper .container .Wrapper .Right_container .error_container h1 {
  color: #666;
}
.page_wrapper .main .productwrapper .container .Wrapper .Right_container .card_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}
@media (max-width: 550px) {
  .page_wrapper .main .productwrapper .container .Wrapper .Right_container .card_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .page_wrapper .main .productwrapper .container .Wrapper .Right_container .card_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .page_wrapper .main .productwrapper .container .Wrapper .Right_container .card_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.page_wrapper .main .productwrapper .container .Wrapper .Right_container .loadbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 1rem 0;
}
.page_wrapper .main .productwrapper .container .Wrapper .Right_container .loadbtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #666;
  background-color: transparent;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.page_wrapper .main .productwrapper .container .Wrapper .Right_container .loadbtn button:hover {
  color: #046BD2;
}
.page_wrapper .main .productwrapper .container .Wrapper .Right_container .loadbtn button .icon {
  font-size: 20px;
  font-weight: 900;
}/*# sourceMappingURL=index.module.css.map */