.Container {
  display: block;
  min-height: 100%;
}
.Container .icon {
  font-size: 14px;
  font-weight: 900;
}
.Container .top {
  margin-bottom: 0.5rem;
}
.Container .top .filterDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #fff;
}
.Container .top .filterDiv .headingDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}
.Container .top .filterDiv .clearDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #046BD2;
  cursor: pointer;
}
.Container .top .filterDiv .clearDiv span {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.Container .top .filterDiv .clearDiv .icon {
  font-size: 14px;
  font-weight: 900;
}
.Container .top .selectedFilterDiv {
  margin-bottom: 0.5rem;
}
.Container .bottom .accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Container .bottom .accordion .titleDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0.8rem;
}
.Container .bottom .accordion .titleDiv h3 {
  font-size: 16px;
  font-weight: 500;
}
.Container .bottom .accordion .titleDiv span {
  display: flex;
  align-items: center;
}
.Container .bottom .accordion .content {
  background-color: black;
  overflow-y: hidden;
  max-height: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.Container .bottom .accordion .show {
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 2px 0;
  padding: 0.8rem;
}
@media (max-width: 550px) {
  .Container .bottom .accordion .show {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .Container .bottom .accordion .show {
    display: flex;
    align-items: center;
  }
}
.Container .bottom .accordion .show .items {
  width: 100%;
  min-height: 3rem;
  max-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color: #111;
  overflow-y: auto;
  cursor: pointer;
}
.Container .bottom .accordion .show .items .items_wrapper {
  width: 100%;
}
.Container .bottom .accordion .show .items .items_wrapper p {
  margin: 0.4rem 0.6rem;
}
.Container .bottom .accordion .show .items .items_wrapper:hover {
  background-color: #ebebeb;
  border-radius: 5px;
  color: #111;
}
.Container .bottom .accordion .show .items .items_wrapper:active,
.Container .bottom .accordion .show .items .items_wrapper :focus {
  background-color: #ebebeb;
  border-radius: 5px;
  color: #111;
}
.Container .bottom .accordion .show .items .radioField_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 4px 0;
  cursor: pointer;
}
.Container .bottom .accordion .show .onSelectField {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 20px;
  cursor: pointer;
}
.Container .bottom .accordion .show .onSelectField .items_wrapper {
  width: 100%;
}
.Container .bottom .accordion .show .onSelectField .items_wrapper .item_Title {
  padding-bottom: 5px;
}
.Container .bottom .accordion .show .onSelectField .items_wrapper .item_Title h3 {
  font-size: 15px;
  font-weight: 500;
}
.Container .bottom .accordion .inputContent {
  background: #fff;
  padding: 1.5rem 1rem;
  margin: 2px 0;
}
.Container .bottom .accordion .inputContent .inputFields {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 0.8rem;
}
.Container .bottom .accordion .inputContent .inputFields .field_wrapper {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.Container .bottom .accordion .inputContent .inputFields .field_wrapper input {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  border: 1px solid #ccc;
  --moz-appearance: none;
}
.Container .bottom .accordion .inputContent .inputFields .field_wrapper input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}
.Container .bottom .accordion .inputContent .inputFields .field_wrapper input[type=number]::-webkit-inner-spin-button, .Container .bottom .accordion .inputContent .inputFields .field_wrapper input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Container .bottom .accordion .inputContent .inputFields .seperation {
  width: 80px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Container .bottom .accordion .inputContent .inputFields .field_searchBtn {
  width: 80px;
  height: 40px;
}
.Container .bottom .accordion .inputContent .inputFields .field_searchBtn button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #046BD2;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.Container .bottom .accordion .inputContent .searchBtn {
  width: 100%;
  height: 40px;
}
.Container .bottom .accordion .inputContent .searchBtn button {
  width: 100%;
  height: 100%;
  background: #046BD2;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
}
.Container .bottom .accordion .inputContent .radioFields {
  min-height: 5rem;
  max-height: 12rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.Container .bottom .accordion .inputContent .radioFields .radioField_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
  width: 100%;
  cursor: pointer;
}/*# sourceMappingURL=index.module.css.map */