@import '../../StyleHelpers/Variables.scss';

.Card_wrapper {
    position: relative;
    height: 20rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;


    .featured {
        position:absolute;
        background-color: $primary_color;
        height: 1rem;
        color: white;
        font-size: bold;
        text-align: center;
        padding: 2px 10px;
        vertical-align: middle;
        left:-15px;
        top: 20px;
        font-size: 10px; 
    }
    
    .image_wrapper{
        height: 15rem;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        // background-color: red;
        display: flex;
        justify-content: center;
        
        img {  
            object-fit: cover;
        }
    }
    
    
    .Details {
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 10px;
        
        h1{
            font-size: 25px;
        }
        h3 {
            font-size: 20px;
            color: $primary_color;
        }
        
        h5{
            font-size: 15px;
            span {
                margin: 0 10px;
                font-weight: normal;
            }
        }
        .Rating {
            display: flex;
            gap:2px;   
            align-items: center;
           

            .ratingIcon  {
                color: $primary_color;
            }
        }

        p {
            font-size: 12px;
            font-weight: 1px;
        }
    }


    .Button_wrapper{
        display: flex;
        justify-content: space-evenly;
        height: 30%;
        .Fav{
          display: flex;
          justify-content: center;
          align-items: center;
          gap:5px;
          flex: 1;
          height: 100%;
          width: 100%;
          border: 0;
          text-align: center;
          vertical-align: middle;
          color: $primary_color;
          cursor: pointer;


          &:hover{
            background-color: $primary_color;
            color:white;

             button{
                color: white;
             }

          }

          p{
            font-size: 13px;
          }
          
          button {
            background: transparent;
            border: 0;
            color: $primary_color;
            
          }
        }
        .Explore{
          flex: 1;
          height: 100%;
          width: 100%;
          background-color: $primary_color;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $primary_color;
          border: 0;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;

          &:hover{
            background-color: transparent;
            border: .5px solid $primary_color;
        

             button{
                color: $primary_color;
             }

          }
          
          button {
            color:white;
            background: transparent;
            border: 0;
          }
        }
    }


}