.filter_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
}
.filter_wrapper .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 1rem;
}
.filter_wrapper .header .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter_wrapper .header .top h3 {
  text-align: start;
  width: 100%;
}
.filter_wrapper .header .top button {
  width: 50%;
  text-align: end;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #046BD2;
}
.filter_wrapper .header .bottom {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.filter_wrapper .header .bottom .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f8f8f8;
  min-width: 70px;
  border-radius: 25px;
  gap: 20px;
  padding: 5px;
  font-size: 14px;
}
.filter_wrapper .header .bottom .wrap span {
  cursor: pointer;
}
.filter_wrapper .accordion {
  width: 100%;
}
@media (max-width: 550px) {
  .filter_wrapper .accordion {
    display: flex;
    overflow-x: auto;
    flex-direction: column;
  }
  .filter_wrapper .accordion::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .filter_wrapper .accordion {
    display: flex;
    overflow-x: auto;
    flex-direction: column;
  }
  .filter_wrapper .accordion::-webkit-scrollbar {
    display: none;
  }
}
.filter_wrapper .accordion .item {
  padding: 10px 0;
  border-bottom: 2px solid #ebebeb;
}
@media (max-width: 550px) {
  .filter_wrapper .accordion .item {
    min-width: 125px;
    border-bottom: none;
    margin: 5px;
    padding: 0;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .filter_wrapper .accordion .item {
    min-width: 150px;
    border-bottom: none;
    margin: 5px;
    padding: 0;
  }
}
.filter_wrapper .accordion .item .title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
@media (max-width: 550px) {
  .filter_wrapper .accordion .item .title {
    border-bottom: none;
    border: 1px solid #f8f8f8;
    border-radius: 25px;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .filter_wrapper .accordion .item .title {
    border-bottom: none;
    border: 1px solid #f8f8f8;
    border-radius: 25px;
  }
}
.filter_wrapper .accordion .item .title h3 {
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 550px) {
  .filter_wrapper .accordion .item .title h3 {
    font-size: 14px;
    font-weight: 400;
  }
}
.filter_wrapper .accordion .item .selectitems {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}
.filter_wrapper .accordion .item .selectitems .select_wrap {
  width: 100%;
  height: 100%;
}
.filter_wrapper .accordion .item .content {
  color: black;
  overflow-y: hidden;
  max-height: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.filter_wrapper .accordion .item .show {
  display: flex;
  align-items: center;
  min-height: 15vh;
}
@media (max-width: 550px) {
  .filter_wrapper .accordion .item .show {
    min-height: 25vh;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .filter_wrapper .accordion .item .show {
    min-height: 20vh;
    display: flex;
    align-items: center;
  }
}
.filter_wrapper .accordion .item .show .items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.filter_wrapper .accordion .item .show .items .Item_wrap {
  width: 100%;
  flex: 1;
}
.filter_wrapper .accordion .item .show .items .Itembtn_wrap {
  flex: 1;
}
.filter_wrapper .accordion .item .show .items .Item_wrap,
.filter_wrapper .accordion .item .show .items .Itembtn_wrap {
  display: flex;
  flex-direction: column;
}
.filter_wrapper .accordion .item .show .items .Item_wrap input,
.filter_wrapper .accordion .item .show .items .Itembtn_wrap input {
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  border: 1px solid lightgrey;
}
.filter_wrapper .accordion .item .show .items .Item_wrap button,
.filter_wrapper .accordion .item .show .items .Itembtn_wrap button {
  background: #046BD2;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
.filter_wrapper .accordion .item .show .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  place-content: center;
}
.filter_wrapper .accordion .item .show .row div {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  gap: 10px;
}
.filter_wrapper .accordion .item .show .row div label {
  width: 100%;
  text-align: start;
  font-size: 14px;
  font-weight: 300;
}

.Container {
  background-color: rgba(253, 249, 249, 0.5568627451);
  color: black;
  padding: 0 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 25px;
}
.Container::-webkit-scrollbar {
  height: 5px;
}
@media (max-width: 550px) {
  .Container {
    overflow: hidden;
  }
}
.Container div {
  display: flex;
  align-items: center;
  gap: 2px;
}
.Container div h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.Container div ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
@media (max-width: 550px) {
  .Container div ul {
    display: none;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .Container div ul {
    display: none;
  }
}
.Container div li {
  font-size: 12px;
}/*# sourceMappingURL=index.module.css.map */